.wp-blocks .wp-block-pullquote {
  margin-top: wp-blocks-spacer();
  margin-bottom: wp-blocks-spacer();

  blockquote > p {
    @extend .mt-0;
  }

  &.alignwide,
  &.alignfull {
    display: block;
    padding-left: wp-blocks-spacer();
    padding-right: wp-blocks-spacer();
  }

  &.alignwide p,
  &.alignfull p {
    font-size: wp-blocks-font-size(lg);
    text-align: center;
  }

  &.alignwide blockquote,
  &.alignfull blockquote {
    margin-top: wp-blocks-spacer();
    margin-bottom: wp-blocks-spacer();
    font-size: wp-blocks-font-size(md);
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p,
  &.alignwide cite,
  &.alignfull cite {
    display: block;
    text-align: center;
  }

  &.alignwide cite,
  &.alignfull cite {
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &.alignleft blockquote cite,
  &.alignright blockquote cite {
    text-transform: uppercase;
  }

  &.alignleft {
    text-align: left;
  }

  &.alignleft > blockquote {
    float: left;
    margin-right: (wp-blocks-spacer() * 2);
  }

  &.alignright {
    text-align: right;
  }

  &.alignright blockquote {
    float: right;
    margin-left: (wp-blocks-spacer() * 2);
  }

  figure:not(.alignleft, .alignright) {
    padding-left: wp-blocks-spacer();
    padding-right: wp-blocks-spacer();
  }
}

.wp-blocks .wp-block-quote {
  margin-top: wp-blocks-spacer();
  margin-bottom: wp-blocks-spacer();
  font-size: wp-blocks-font-size(md);

  &.is-large blockquote p {
    font-size: wp-blocks-font-size(lg);
  }

  &.is-large blockquote cite {
    font-size: wp-blocks-font-size(md);
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p {
    font-size: wp-blocks-font-size(lg);
    text-align: center;
  }

  &.alignwide blockquote cite {
    font-size: wp-blocks-font-size(md);
  }
}
